@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,900');

/* General */
html { margin:0; padding:0; background:#a2e52c; }
body { font-family: 'Source Sans Pro', sans-serif; font-size:16px; line-height:1.5em; margin:0; padding:0; background:#fff; min-height:100vh; }
img { max-width:100%; }
h1, h2, h3, h4, h5, h6 { font-family: 'Source Sans Pro', sans-serif; }
p, li { max-width:75rem; }
a { text-decoration:none; color:#a2e52c; }
::selection { background-color:#a2e52c; }

/* Header */
.site-header { text-align:center; }
.logo { background:url('/assets/images/as-logo.svg') left center no-repeat; background-size: contain; text-indent:-999vw; display:block; width:11em; height:4.5em; margin: 0 auto 1em; }

@media screen {
    /* General */
    .wrapper { padding:1em; max-width:90em; margin:0 auto; overflow:hidden; }

    /* Header */
    .site-header { margin-bottom:1em; }

    /* Navigation */
    .main-menu ul { margin:0; padding:0; }
      .main-menu ul li { list-style:none; display:inline-block; font-family:'Source Sans Pro', sans-serif; }
      .main-menu ul li a { color:#333; padding:0.5em 1em; display:block; position:relative; }
      .main-menu ul li a:hover { color:#333; background:#a2e52c; }
      .main-menu ul li a.active::after { content:''; display:block; background:#a2e52c; height:0.2rem; width:100%; margin-top:0.25rem; }

    /* Home */
    .page-intro { font-family:'Source Sans Pro', sans-serif; font-size:2em; line-height:1.125em; font-weight:700; }
      .page-intro a { text-decoration:none; position:relative; color:#333; }
      .page-intro a::after { content:''; display:block; position:absolute; left:0; right:0; height:0.5rem; bottom:0; background-color:#a2e52c; }
      .page-intro a:hover { color:#a2e52c; }

    /* Work */
    .work-filter { margin:0 0 2em; padding:0; }
      .work-filter button { display:inline-block; margin-right:1em; text-transform:uppercase; letter-spacing:2px; color:#333; border:0; padding:0; font-size:inherit; }
      .work-filter button:hover, .work-filter button.active { color:#a2e52c; }

    .work-grid { display:flex; flex-flow:row wrap; margin:0 -1rem; }
      .work-item { width:calc(50% - 1rem); margin:0 0.5rem 1rem; position:relative; overflow:hidden; }
      .work-title { color:#333; font-size:1.25em; }
      .work-image { display:block; transition:all 0.35s ease-in-out; }
        .work-item:hover .work-image { transform:scale(1.02); }
}

/* 760w */
@media screen and (min-width:48rem) {
  /* General */
  .wrapper { padding:2rem; }

  /* Header */
  .site-header { display:flex; text-align:left; }
  .logo-container { flex-grow:1; }
    .logo { margin:0 0 1em; }

  /* Navigation */
  .main-menu { flex-grow:5; text-align:right; }

  /* Home */

  /* Work */
  .work-page .work-image { float:right; width:50%; margin-left:2em; }
  .work-item { width:calc(33.33% - 1rem); background-color:#a2e52c; }
  .work-title { font-weight:300; font-size:2.5em; position:absolute; top:50%; left:0; right:0; transform:translateY(-50%); text-align:center; margin:0; opacity:0; transition:opacity 0.35s ease-in-out; }
    .work-item:hover .work-title { opacity:1; }
    .work-item:hover .work-image { opacity:0.5; }

}

/* 960w */
@media screen and (min-width:60rem) {
  /* Home */
  .page-intro { font-size:3.75rem; }
}

/* 1024w */
@media screen and (min-width:64rem) {
  /* Work */
  .work-item { width:calc(25% - 1rem); }
}

/* 1200w */
@media screen and (min-width:75rem) {
  /* Work */
}

/* 1440w */
@media screen and (min-width:90rem) {
  .wrapper { padding:3rem; }
}
