/* General */
body {font-size:16px;}
a { text-decoration:none; }

/* Header */
.site-header { border-bottom:1px solid #ccc; }
.logo { background:url('/assets/images/as-logo.svg') left center no-repeat; background-size: contain; text-indent:-100vw; display:block; width:11em; height:4.5em; margin: 0 0 1em; }

/* Navigation */
.main-menu { text-align:right; }
.main-menu ul { margin:0; padding:0; }
  .main-menu ul li { list-style:none; display:inline-block; font-family:'Helvetica', 'Helvetica Neue', Arial, sans-serif; }
  .main-menu ul li a { color:#333; padding:0.5em 1em; display:block; }
  .main-menu ul li a:hover { color:#000; background:#eee; }

/* 760w */
@media screen and (min-width:48rem) {
  .site-header { display:flex; }
  .logo-container { flex-grow:1; }
  .main-menu { flex-grow:5; }
}
